{
  "schemaVersion": 2,
  "frequency": 3600,
  "outputLocation": "/data/music",
  "playlistM3uDir": "/data/music/playlists",
  "albumFolderTemplate": "{album_artist}/{album}",
  "compilationFolderTemplate": "Compilations/{album}",
  "noAlbumFolderTemplate": "{artist}/Unknown Album",
  "singleDiscFileTemplate": "{track:02d} {title}",
  "multiDiscFileTemplate": "{disc}-{track:02d} {title}",
  "noAlbumFileTemplate": "{title}",
  "songCodec": "aac-legacy",
  "downloadMode": "nm3u8dlre",
  "language": "en-US",
  "truncate": null,
  "overwrite": false,
  "downloadLyrics": true,
  "lyricsFormat": "lrc",
  "saveCover": false,
  "coverFormat": "jpg",
  "coverSize": 1200,
  "safeFilenames": false,
  "prunePlaylistEntries": true,
  "concurrency": 1,
  "autoUpdate": true,
  "autoUpdateInterval": 86400,
  "autoUpdateGamdl": true
}
